.tatva-view-toggle {
    color: #535353;
    font-size: .875rem;
    font-weight: 500;
    padding: 5px !important;
    background-color: #f6f6f6 !important;
    border: none !important;
    border-radius: 6px !important;

    [role="presentation"] {
        background-color: white;
        transform: none !important;
    }

    button[data-active-item] {
        padding: 10px 15px;
        fill: #5b5b5b;
    }

    &::before {
        background: white !important;
    }

    &:focus-within {
        box-shadow: none !important;
        border: none;   
    }

    .tatva-toggle-button {
        border-radius: 6px !important;
        font-weight: 600;

        &.active {
            color: black;
            box-shadow: rgb(207, 207, 207) 0px 0px 3px;
        }
    }
}

.variation-card {
  height: 250px;
  width: 100%;
  overflow: hidden;
}