/* Global preview styles for stories */
:root {
  --sb-font-sans: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* @stories example font change */
.sb-show-main,
.docs-story > div > div {
  font-family: var(--sb-font-sans);
}

.sb-show-main tatva-marker,
.sb-show-main tatva-pulse {
  font-size: 32px;
  font-weight: 700;
}

.sb-show-main tatva-infotip {
  display: block;
  margin: 50px;
}