.tatva-lubus {
    background-color: rgba(78, 78, 78, 0.38);
    padding: 7px 12px;
    border-radius: 20px;
    max-width: fit-content;
}

.tatva-hero-cont {
    margin: auto;
    width: 1200px;
}

.tatva-hero-Section {
    background-color: #1F1F1F;
    padding: 20px;
    height: 350px;
    place-content: center;
}