body {
    font-family: Inter, sans-serif;
    margin: 0;
}

a {
    box-shadow: none;
    text-decoration: none;
}

.tatva_container {
    background-color: #FFFFFF;
    width: 100%;
}

.tatva-com-page,
.tatva-lcont {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 20px;
}

.tatva-card-preview>div,
.variation-card>div {
    width: 100%;
}

/** Examples Page */
.tatva-back-button {

    span,
    a {
        color: #535353;
        font-size: .875rem;
        font-weight: 500;
    }
}

tatva-image-compare {
    width: 100%;
}

.tatva-card-preview,
.variation-card.preview {
    div {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 2em;
        font-weight: 600;
    }
}

@media only screen and (max-width:820px) {

    .tatva-com-page,
    .tatva-lcont {
        max-width: 100% !important;
    }

    .footer-content,
    .tatva-hero-cont {
        width: 100% !important;
    }
}