.tatva-footer {
    background-color: #1f1f1f !important;

    .tatva_container.components-card__body {
        &:first-child {
            padding: 60px 3vw;
        }

        .footer-content {
            margin: auto;
            width: 90%;
        }
    }
}

.tatva_container .footer-content {
    width: 1200px;
    margin: auto;
}

.social-icons .components-button:hover{
    transform: scale(1.2);
}

.footer_btn {
    color: aliceblue;
    border: 1px solid white;
    border-radius: 16px;
    width:fit-content;
}
.footer_btn:hover{
    color: aliceblue !important;
    border-radius: 16px !important;
    background: #80808033;
}

@media (max-width: 820px) {
  .tatva-footer .footer-content {
    flex-direction: column-reverse !important;
    align-items: center !important;
    text-align: center;                
    gap: 20px;                     
  }
  .footer-left{
    align-items: center !important;
  }
}