.tatva-footer {
    background-color: black !important;
    padding: 40px 20px 0px;

    .footer-content {
        margin: auto;
        width: 1200px;
        flex-direction: column;
    }

    .footer_bottom {
        padding: 10px 0px;
        margin-top: 40px;
        border-top: 1px solid #dcdcdc30;

        svg {
            fill: white
        }
    }
}

.social-icons .components-button:hover {
    transform: scale(1.2);
}

.footer_btn {
    background-color: crimson;
    color: white;
    border-radius: 4px;
    font-weight: 400;
    padding: 10px 18px !important;
}

.footer_btn:hover {
    color: aliceblue !important;
    background: #80808033;
}

.copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 820px) {
    .tatva-footer .footer-content {
        text-align: center;
    }

    .footer_bottom {
        flex-direction: column !important;

        .copyright {
            position: relative;
            left: 0;
            transform: none;
        }
    }
}