header {
    padding: 16px;
    background-color: black !important;
}

.tatva-header.sticky {
    position: sticky !important;
    top: 0;
    z-index: 14;
}

.tatva_container .header_cont {
    width: 1200px;
    margin: auto;
}

.tatva-site-logo svg {
    width: 100px;
    height: auto;
}

.tatva-header-button {
    .components-button {
        color: white !important;
        padding: 20px 15px;

        &:hover:not(:disabled, [aria-disabled=true]) {
            color: #fff;
            background: #80808033;
            border-radius: 4px;
        }
    }
}

@media only screen and (max-width:780px) {
    .header_cont {
        width: 100% !important;
    }

    .tatva-header-button .components-button {
        font-size: 10px;
    }

    .tatva-site-logo svg {
        width: 80px;
    }
}