.tatva-lubus {
    background-color: rgba(78, 78, 78, 0.38);
    padding: 5px 8px;
    border-radius: 20px;
    max-width: fit-content;
    font-size: 12px !important;
}

.head_title{
    font-size: 45px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.tatva-hero-Section {
    background-color: #0E2D14;
    background-image: url(/public/tatva-header-cover.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 15% bottom;
}

.tatva-hero-card {
  align-items: flex-start !important;
}

.tatva-hero-cont {
  max-width: 1200px;
  padding: 100px;
  width: 100%;
  margin: 0 auto !important;
}